@page "/"

<PageTitle>Home</PageTitle>

<div>
    <marquee>
<h1>Welcome to SQL Server Manager</h1>
    </marquee>
    <marquee direction="right">
<p>This application helps you manage your SQL Server databases.</p>
    </marquee>
</div>